/* Fonts */
$relaway: "Raleway",
sans-serif;
$lato: "Lato",
sans-serif;

$roboto-flex: "Roboto Flex",
sans-serif;
$roboto-variation: "slnt"0,
"wdth"100,
"GRAD"0,
"XOPQ"96,
"XTRA"468,
"YOPQ"79,
"YTAS"750,
"YTDE"-203,
"YTFI"738,
"YTLC"514,
"YTUC"712;

$playfair-display: "Playfair Display",
serif;

/* Fonts */

/* Styles */
$bold-weight: 700;
$italic-font-style: italic;
$italic-weight: 200;
$main-line-heigh: 1.5;
$main-font-size: 16px;
$main-responsive-font-size: 1rem;
$main-font-style: normal;
$main-weight: 400;
$optical-font: auto;