@import 'colors';
@import 'fonts';
@import 'sizes';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100svh;
  height: $app-height;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: $app-height;
  position: relative;
}

main {
  height: 100%;
}

body {
  background: none transparent;
  color: $main-font-color;
  font-family: $lato;
  font-optical-sizing: $optical-font;
  line-height: $main-line-heigh;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $main-weight;
  font-style: $main-font-style;
}

.main-font-style {
  font-family: $roboto-flex;
  font-optical-sizing: $optical-font;
  font-weight: $main-weight;
  font-style: $main-font-style;
  font-variation-settings: $roboto-variation;
}

// Background Styles
.rootlayout__container {
  background: linear-gradient(135deg, #6d5b5b, #641515, #460808, #2b0202, #000000, #ff0000, #fbeeee);
  background-size: 1400% 1400%;
  -webkit-animation: AnimationName 43s ease infinite;
  -moz-animation: AnimationName 43s ease infinite;
  -o-animation: AnimationName 43s ease infinite;
  animation: AnimationName 43s ease infinite;
  height: 100%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 10%
  }

  50% {
    background-position: 100% 91%
  }

  100% {
    background-position: 0% 10%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 10%
  }

  50% {
    background-position: 100% 91%
  }

  100% {
    background-position: 0% 10%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 10%
  }

  50% {
    background-position: 100% 91%
  }

  100% {
    background-position: 0% 10%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 10%
  }

  50% {
    background-position: 100% 91%
  }

  100% {
    background-position: 0% 10%
  }
}