@import 'colors';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
}

:root {
  --app-height: 100svh;
}

html,
body {
  height: 100svh;
  height: var(--app-height);
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: var(--app-height);
  position: relative;
}

main {
  height: 100%;
}

body {
  background: none transparent;
  color: $main-font-color;
  font-family: $lato;
  font-optical-sizing: $optical-font;
  line-height: $main-line-heigh;

  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $main-weight;
  font-style: $main-font-style;
}

.main-font-style {
  font-family: $roboto-flex;
  font-optical-sizing: $optical-font;
  font-weight: $main-weight;
  font-style: $main-font-style;
  font-variation-settings: $roboto-variation;
}