.sb__button-container {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button {
        background-color: transparent;
        border-color: #ffffff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    button:hover {
        background-color: var(--bs-gray-700);
        border-color: #ffffff;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        background-color: var(--bs-gray-dark);
        border-color: var(--bs-gray-dark);
    }
}