.ye__responsive-container {
  aspect-ratio: 16 / 9;
  position: relative;
  height: 100%;
  max-width: 100%;
  width: 100%;
  z-index: 1;

  .ye__youtube-iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}