.bv__container {
  height: 100%;
  position: relative;
  overflow: hidden;

  .bv__content {
    color: #f1f1f1;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.bv__video {
  object-fit: cover;
  width: 100%;
  height: var(--app-height);
}

@media (max-width: 768px) {
  .bv__container {
    position: relative;
  }
}

@media (min-width: 769px) {
  .bv-video {
    height: 100%;
    width: 177.77777778vh;
    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}