.smi_container {
  align-items: center;
  border-radius: 5%;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  display: flex;
}

.smi_social-media-logo {
  max-height: 3rem;
  max-width: 3rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .smi_social-media-logo {
    transition: transform 0.3s ease;
  }

  .smi_social-media-logo:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .smi_social-media-logo {
    max-height: 2.5rem;
    max-width: 2.5rem;
  }
}