.smn_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: fit-content;
  padding: 0.7rem 0;
}

.smn_container :nth-child(3) {
  order: 2;
}

.smn_container :nth-child(2) {
  order: 3;
}