$color1: rgb(204, 68, 68);
$color2: rgb(49, 49, 49);
$duration: 2s;
$lineSize: 100px;

.header__navbar {
  flex-shrink: 0;
  padding: 0;

  .header__nav {
    &-container {
      .header_nav-logo-toggle-container {
        animation: stripeBackgroundPosition $duration linear infinite;
        background: repeating-linear-gradient(45deg,
            $color1 25%,
            $color1 50%,
            $color2 50%,
            $color2 75%);
        background-size: $lineSize $lineSize;
        background-clip: text;
        height: 100%;
        padding: 0.1rem 0;
        position: relative;
        width: 100%;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% + $lineSize);
          height: 100%;
          background: repeating-linear-gradient(45deg,
              $color2 25%,
              $color2 50%,
              $color1 50%,
              $color1 75%);
          background-size: $lineSize $lineSize;
          animation: stripeTransform $duration linear infinite;
        }

        &::after {
          background: radial-gradient(ellipse at center, rgba(#1b2735, 0) 0%, #090a0f 100%);
          content: '';
          height: 100%;
          position: absolute;
          width: 100%;
        }
      }

      .header__menu-toggle-position {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        z-index: 31;

        @media (min-width: 992px) {
          display: none;
        }
      }
    }
  }

  &-brand {
    img {
      height: auto;
      max-width: 23%;
      min-width: 20%;
      z-index: 1;

      @media (max-width: 576px) {
        min-width: 27%;
      }

      @media (min-width: 577px) and (max-width: 768px) {
        min-width: 25%;
      }
    }
  }

  .navbar-toggler {
    z-index: 1;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .header__navbar {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);

    &-brand {
      text-align: center;
    }
  }
}

@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc($lineSize * -1));
  }
}

@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc($lineSize * -1) 0;
  }
}