.header__navbar {
  background-color: transparent;
  padding: 0 !important;
  width: 100% !important;
  --bs-navbar-toggler-icon-bg: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(255, 255, 255, 0.8)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e') !important;
}


.header__nav-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  flex-direction: column;
  padding: 0 !important;
  width: 100% !important;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;

  .header__navbar-brand {
    flex: 1 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .header__navbar-brand {
    text-align: center;

    .header__mobile-icon {
      background-color: FFFFFF;
    }
  }
}