.header__navbar {
  padding: 0 !important;
  width: 100% !important;
}

.header__navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem !important;
  width: 100% !important;
}
