.header__navbar {
  background-color: transparent;
  padding: 0 !important;
  width: 100% !important;
}

.header__navbar-brand {
  align-items: center;
  justify-content: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.header__nav-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  flex-direction: column;
  padding: 0.5rem !important;
  width: 100% !important;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
