@import url(https://fonts.googleapis.com/css?family=Audiowide);

.loading {
  display: flex;
  flex-direction: row;
}

.loading__letter {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Audiowide";
  color: #fff;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@for $i from 2 through 10 {
  .loading__letter:nth-child(#{$i}) {
    animation-delay: #{$i * 0.1s};
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px)
  }

  40% {
    transform: translateY(-40px);
  }

  80%,
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .loading__letter {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .loading__letter {
    font-size: 3.5rem;
  }
}