@use '../../Calendar/StickyCalendar/styles/stickyVariables' as *;
@use '../../../styles/mixins' as *;

$animation-duration: 1000ms;
$icon-dimensions: 25px;
$outer-button-size: 60px;

.sb__container {
  position: fixed;
  z-index: 5;

  &.calendar {
    bottom: 20%;
    right: 0;
  }

  &.sidebar {
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
  }
}

.outer-button {
  @include flex-center();
  position: relative;
  z-index: 4;
  width: $outer-button-size;
  height: $outer-button-size;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  box-shadow: 10px 10px 18px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }

  .icon-container {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: inherit;
    height: inherit;
    position: relative;
    background: inherit;
    border-radius: inherit;
    cursor: inherit;
    overflow: hidden;
  }

  .calendar-icon,
  .close-icon {
    position: absolute;
    width: $icon-dimensions;
    height: $icon-dimensions;
    fill: #ffffff;
  }

  .close-icon {
    transform: scale(0) rotate(-270deg);
    opacity: 0;

    &.show {
      animation: close-in $animation-duration forwards $close-icon-timing-function;
    }

    &.hide {
      animation: close-out $animation-duration $close-icon-timing-function;
    }
  }

  .calendar-icon {
    &.show {
      animation: calendar-in $animation-duration forwards $close-icon-timing-function;
      opacity: 0;
    }

    &.hide {
      animation: calendar-out $animation-duration forwards $close-icon-timing-function;
    }
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: $button-inner-ring-radius;
    height: $button-inner-ring-radius;
    border-radius: 50%;
    border: 0 solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
  }

  &.clicked {
    &::after {
      animation: touch-click-inner 500ms forwards;
    }

    &::before {
      animation: touch-click-outer 500ms 250ms forwards;
    }
  }
}

// Keyframes
@keyframes touch-click-inner {
  50% {
    transform: scale(0.375);
    border-width: 30px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    border-width: 1px;
    opacity: 0;
  }
}

@keyframes touch-click-outer {
  0% {
    border-width: 10px;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes close-in {
  0% {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  100% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes close-out {
  0% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
}

@keyframes calendar-in {
  0% {
    transform: translateX(calc(-1 * $button-radius)) translateY($button-radius);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes calendar-out {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(calc($button-radius / 1.5)) translateY(calc($button-radius / -1.5));
  }
}
