#responsive-navbar-nav {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;

  .navbar-nav {

    .nav-link:active,
    .nav-link:show {
      color: var(--bs-gray-600) !important;
    }
  }

  .nav-link {
    color: var(--bs-gray-300);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--bs-gray-600);
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

@media (max-width: 990px) {
  .sub-navbar__container {
    overflow-x: auto;
  }
}